.page-title {
    background-color: white;
    padding: 5px 10px;
    display: inline-block;
    margin: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #51189b;
    box-shadow: 
        0 0 2.5px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(0, 0, 0, 0.1),
        0 0 7.5px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-title:hover {
    animation: tiltBox 4s infinite;
    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.2),
        0 0 7.5px rgba(0, 0, 0, 0.2),
        0 0 10px rgba(0, 0, 0, 0.2),
        0 0 15px rgba(0, 0, 0, 0.2);
}

.page-title::before,
.page-title::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    border: 2px solid #51189b;
    border-radius: 30%;
    animation: rotate 10s linear infinite;
}

.page-title::before {
    border-color: rgba(81, 24, 155, 0.3);
    animation-duration: 5s;
}

.page-title::after {
    border-color: rgba(81, 24, 155, 0.1);
    animation-duration: 15s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes tiltBox {
    0%, 100% {
        transform: rotate(0deg);
    }
    25%, 75% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.page-title:hover::before,
.page-title:hover::after {
    animation-play-state: paused;
}

body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Light background color */
}

/* General section styling */
.classes-section, .training-section, .preview-section {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Training section styling */
.training-section {

    min-height: 230px; /* Adjust this value to your needs */
}

/* Title styling */
h2 {
    margin-top: 0; /* Remove margin from the top */
}

/* Styling for parameter groups */
.parameter-group {
    margin-bottom: 10px; /* Spacing between parameter groups */
    display: flex;
    align-items: center;
}

.parameter-group label {
    display: block;
    margin-bottom: 5px;
    flex: 1;
    color: #495057; /* Text color */
}

.parameter-group input {
    width: 50%;
}

/* Classes section */
.classes-section {
    display: flex;
    flex-direction: column;
    width: 500px; /* Adjust width */
}

/* Container for classes */
.classes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 800px; /* Adjust the height */
    padding-right: 10px; /* Space for scrollbar */
}

/* Individual class card styling */
.class-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Light background */
    margin-bottom: 10px;
    display: block; /* Ensure contents align properly */
}





.input-container {
    display: flex;              /* Enable Flexbox layout */
    align-items: center;        /* Vertically center items */
    justify-content: space-between;  /* Distribute space between items */
    width: 95%;                /* Adjust to the desired width */
    padding: 5px 10px;          /* Add some padding for aesthetics */
    border: 1px solid #ddd;     /* Optional: border styling */
    border-radius: 5px;         /* Optional: rounded corners */
    gap: 10px;                  /* Optional: space between elements */
}


/* Class title input styling */
.class-title {
    max-width: 400px; /* Max width of the input */
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 7.5px;
    text-align: center;
}

.more-icon-container {
    display: flex;              /* Flex container for the more icon */
    align-items: center;        /* Center items vertically */
    cursor: pointer;            /* Pointer cursor on hover */
}

.dropdown-menu {
    width: 200px; ;
    display: none;              /* Hidden by default */
    position: absolute;         /* Position absolutely if needed */
    background-color: white;    /* Background for the dropdown */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* Optional: shadow for dropdown */
    border-radius: 4px;         /* Rounded corners for dropdown */
    padding: 5px 0;             /* Padding for the dropdown */
    z-index: 10;                /* Ensure it appears above other content */
}

/* Optional: Styles for showing the dropdown */
.more-icon-container:hover .dropdown-menu {
    display: block;             /* Show dropdown on hover */
}



.more-icon {
    font-size: 1.5em;
    margin-left: 10px;
    padding: 5px;
    position: relative;
    cursor: pointer; /* Pointer on hover */
}

/* Dropdown item styling */
.dropdown-item {
    padding: 8px 16px;
    text-align: left;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Smooth hover effect */
}

/* Styling for image samples */
.image-samples {
    gap: 10px;
    align-items: center;
}

.image-samples p {
    font-size: 15px; /* Font size for sample text */
    color: #91a8c5; /* Text color */
    font-weight: 100; /* Optional: Light font weight */
    margin-bottom: 8px; /* Space below the text */
}

.image-samples button {
    margin-bottom: 10px; /* Space between buttons */
}


.image-preview-container {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    margin-top: 10px;
    max-width: 470px; /* Adjust the width to your needs */
}

.image-preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/* Button styling */
.webcam-button, .upload-button, .train-model-button, .add-class-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff; /* Primary button color */
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.upload-button {
    background-color: #28a745; /* Green for upload button */
}

.train-model-button {
    margin-top: 10px; /* Space above the button */
}

/* Styling for the training card */
.training-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1); /* Subtle shadow */
}

.train-model-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Slightly larger font size */
    margin-bottom: 20px;
}

/* Advanced settings section */
.advanced-section {
    border-top: 1px solid #e9ecef; /* Divider line */
    padding-top: 15px;
}

.advanced-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Clickable cursor */
    color: #007bff; /* Primary color */
    font-weight: bold;
}

.arrow-icon {
    transition: transform 0.3s; /* Rotate animation */
}

.advanced-content {
    margin-top: 15px; /* Space above the content */
}

/* Input with controls styling */
.input-with-controls {
    display: flex;
    align-items: center;
    border: 2px solid #ced4da; /* Border styling */
    border-radius: 4px;
    overflow: hidden; /* Prevent overflow */
}

.input-with-controls select {
    border: none;
    padding: 5px;
    width: 75px;
    text-align: center;
}

.input-with-controls input {
    border: none;
    padding: 5px;
    width: 50px;
    text-align: center;
}

.input-controls {
    display: flex;
    flex-direction: column; /* Stack controls vertically */
}

/* Button control styling */
.control-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 12px; /* Small font size */
}

/* Info icon styling */
.info-icon {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%; /* Circle shape */
    text-align: center;
    line-height: 20px; /* Center text vertically */
    margin-left: 10px;
}

/* Tooltip styling */
.tooltip {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: rgb(54, 34, 34); /* Text color */
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    z-index: 1000; /* On top of other elements */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for tooltip */
}

.tooltip h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tooltip p {
    margin: 0 0 10px 0;
}

/* Styling for reset and advanced buttons */
.reset-defaults-button,
.under-the-hood-button {
    background: none;
    border: none;
    color: #6c757d; /* Gray text color */
    cursor: pointer; /* Pointer on hover */
    padding: 5px;
    margin-top: 10px;
    font-size: 14px; /* Font size */
}

.reset-defaults-button::before {
    content: '↻ '; /* Refresh symbol */
}

.under-the-hood-button::before {
    content: '⚙ '; /* Gear symbol */
}









/* Styling for preview-section */
.preview-section {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    font-family: Arial, sans-serif;

}

.preview-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 15px;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.export-model-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.input-toggle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.preview-upload {
    background-color: #e9ecef;
    border: 2px dashed #ced4da;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.preview-upload i {
    color: #5ac414; /* Adjust color to match your theme */

}


.upload-placeholder:hover {
    border-color: #aaa; /* Changes border color on hover */
}
.preview-upload p {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 100; /* Optional: Light font weight */
    color: #756c6c; /* Adjust to your text color preference */
}
.preview-image-container {
    text-align: center;
    margin-bottom: 15px;
}

#preview-image {
    width:300pX;
    height:20%;
    border-radius: 4px;
}

.preview-output h4 {
    margin-bottom: 10px;
}

#output-container {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
}

.output-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between elements */
    margin-bottom: 10px; /* Space between rows */
}

.output-item span:first-child {
    flex: 0 0 100px; /* Fixed width to align all class names */
    text-align: left; /* Align class names to the left */
    padding-right: 2px; /* Space between text and bar */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}


.output-bar {
    flex-grow: 1; /* Allow bars to grow and align uniformly */
    height: 20px; /* Fixed height for the bar */
    background-color: #fcfbfb; /* Background color for the empty bar */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Clip the fill inside the bar */
    
}

.output-fill {
    height: 100%; /* Full height */
    border-radius: 5px; /* Same rounded corners for the fill */
}




.output-item span:last-child {
    width: 50px; /* Fixed width to align percentages */
    text-align: right; /* Align percentages to the right */
    margin-left: 10px; /* Add space between bar and percentage */
}

.radio-toggle {
    display: inline-flex;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.radio-toggle input[type="radio"] {
    display: none;
}

.radio-toggle label {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-toggle input[type="radio"]:checked + label {
    background-color: #007bff;
    color: white;
}

.radio-toggle label:first-of-type {
    border-right: 1px solid #ccc;
}