<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configure the Python environment -->
    <handlers>
      <add name="python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|D:\home\python364x86\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- Setup fastcgi settings -->
    <fastCgi>
      <application fullPath="D:\home\python364x86\python.exe" arguments="D:\home\python364x86\wfastcgi.py" />
    </fastCgi>

    <!-- Configure Flask app -->
    <rewrite>
      <rules>
        <rule name="FlaskApp" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Allow serving of static files -->
    <staticContent>
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
    </staticContent>

    <!-- Log requests for troubleshooting -->
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
